@import 'tailwindcss';

* {
  line-height: 1rem;
}

@theme {
  --color-primary: var(--c-primary);
  --color-background: var(--c-background);
  --color-text: var(--c-text);
  --color-card: var(--c-card);
  --color-border: var(--c-border);
  --color-input: var(--c-input);
  --color-danger: var(--c-danger);
  --color-danger-content: var(--c-danger-content);
  --color-success: var(--c-success);
  --color-warning: var(--c-warning);
  --color-info: var(--c-info);
}
.poppins {
  font-family: 'Poppins', sans-serif;
}

.form{
  @apply 
  bg-background
  flex
  justify-center
  items-center
  min-h-screen
  /* min-w-screen */
}
.ant-form{
  padding: 10px;
}
.ant-form-item{
  @apply mb-4
}
.ant-input::placeholder {
  @apply text-info;
}

.ant-input:focus::placeholder {
  @apply text-primary; 
}

.ant-input-password input::placeholder {
  @apply text-info;
}

.ant-input-password input:focus::placeholder {
  @apply text-primary;
}

.ant-btn{
  @apply rounded-4xl font-semibold 
}
a,.remeber{
  @apply text-info
}
h4{
  @apply text-text
}
a:hover{
  @apply text-primary underline
}
::placeholder{
  @apply text-primary
}