@import 'tailwindcss';

* {
  line-height: 1rem;
}

@theme {
  --color-primary: var(--c-primary);
  --color-background: var(--c-background);
  --color-text: var(--c-text);
  --color-card: var(--c-card);
  --color-border: var(--c-border);
  --color-input: var(--c-input);
  --color-danger: var(--c-danger);
  --color-danger-content: var(--c-danger-content);
  --color-success: var(--c-success);
  --color-warning: var(--c-warning);
  --color-info: var(--c-info);
  --font-poppins: "Poppins", sans-serif;
}
.ant-input::placeholder,
.ant-input-password input::placeholder {
  @apply text-gray-400
   /* ensure consistent visibility */
}
.ant-form-item{
  @apply mb-4
}
.ant-form{
  @apply p-8;
}

a{
  @apply text-text
}